<!-- Formatting options toolbar from assets/Formatting-Options.html -->
<div class="formatting-toolbar">
  <button class="format-btn" title="Numbered List">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/97c8dc83-f486-48c1-8c3d-4d487aa514bd" alt="Numbered List">
  </button>
  <button class="format-btn" title="Bulleted List">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/06b81f47-3888-47ae-8fc8-a4deecf445e6" alt="Bulleted List">
  </button>
  <button class="format-btn" title="Quote">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/27fb09d5-bfa3-4443-a23f-a9aae0109674" alt="Quote">
  </button>
  <button class="format-btn" title="Title">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a6ac42d5-9828-4f7d-88d8-fd4e3c967c40" alt="Title">
  </button>
  <button class="format-btn" title="Underline">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/501536bf-3333-4f6c-877b-22d730598058" alt="Underline">
  </button>
  <button class="format-btn" title="Italic">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e6505dee-d6d8-41f4-8b35-306a674f5f26" alt="Italic">
  </button>
  <button class="format-btn" title="Bold">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e540078c-0c1b-41fd-a877-80a19c917c87" alt="Bold">
  </button>
  <button class="format-btn" title="Link">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6d807e55-35d2-4d66-bdfb-cc5e341b9853" alt="Link">
  </button>
  <button class="format-btn" title="Code">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5662235b-3dcd-4404-9df8-e14d492b0813" alt="Code">
  </button>
  <button class="format-btn" title="Strikethrough">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5896d1bd-cd05-4e00-b17c-613664f107d3" alt="Strikethrough">
  </button>
  <button class="format-btn" title="Functions">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/80f82df4-8548-4e4e-b55c-6700854acaf4" alt="Functions">
  </button>
  <button class="format-btn" title="Checkbox">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/4c924cd1-eb44-423f-9c37-33af76170069" alt="Checkbox">
  </button>
</div>
