<!-- Searching Note Empty State UI -->
<div class="frame-searching-empty">
  <div class="button4" style="left:30px;top:88px;"> </div>
  <div class="search-label">Food Recipe</div>
  <div class="vector-icon"></div>
  <div class="close-icon">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/182ef224-2c93-4a77-b8d0-1b2f4b2a3153" width="24" height="24" alt="Close">
  </div>
  <img class="notebook-img" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b33f67fe-506a-4f48-84d6-c5ce5bc71379" alt="Notebook">
  <img class="file-searching" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a5ca7de6-7ff8-4648-bb63-6e76d12a6c20" alt="File Searching">
  <div class="search-msg">File not found. Try searching again.</div>
</div>
