<!-- Saving Popup Modal UI -->
<div class="saving-popup-modal">
  <div class="saving-popup-bg"></div>
  <div class="saving-popup-icon">
    <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/33351070-de9d-431f-b9b7-da12fa203c1d" alt="Info Icon" width="36" height="36">
  </div>
  <div class="saving-popup-msg">Save changes ?</div>
  <div class="saving-btn-group">
    <button class="saving-btn save-btn">Save</button>
    <button class="saving-btn cancel-btn">Cancel</button>
  </div>
</div>
