<!-- Home Screen Empty UI, based on assets/Home-Screen-Empty-154-38.html -->
<div class="home-empty-frame">
  <img class="hero-img" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/26fed5e2-36bf-4c73-966b-8e0b86da3931" width="195" height="27" alt="Create your first note!">
  <img class="notebook-bg" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c3c69c29-ce24-4ec5-813c-796c8585684f" alt="Notebook illustration">
  <img class="fab-ellipse" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b4532f72-3d94-4a96-8c13-d4b7a2ed458d" width="70" height="70" alt="FAB Ellipse">
  <img class="fab-add" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/44a7b802-8b03-4f78-aacb-f1efda31aeae" width="48" height="48" alt="Add Note">
  <img class="add-btn-bg" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6057fac0-5738-45da-9ecf-fb0e0c93c2f7" width="50" height="50" alt="Add btn bg">
  <img class="info-icon" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/3ad31b55-49ad-49da-b0c2-2377eceac40b" width="24" height="24" alt="Info icon">
</div>
