<!-- Editor UI (Frame 149:189) integrated from assets/Editor-149-189.html -->
<div class="editor-frame">
  <!-- Top bar -->
  <div class="editor-header">
    <button class="btn-icon back-btn" title="Back">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f03dd493-50a5-410a-8680-914f136c8bcf" alt="Back" width="48" height="48">
    </button>
    <div class="editor-header-actions">
      <button class="btn-icon" title="Save">
        <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/079033af-154f-421c-8ec8-bc05aa698ffd" alt="Save" width="24" height="24">
      </button>
      <button class="btn-icon" title="Toggle Visibility">
        <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8914339a-460c-47c4-9856-a70e92a603d4" alt="Visibility" width="24" height="24">
      </button>
    </div>
  </div>
  <div class="editor-bg"></div>
  <div class="editor-content">
    <div class="editor-title">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/fcd9b9cd-6b15-4545-84ea-d0e43383c3f0" width="360" height="186" alt="Title" />
    </div>
    <div class="editor-body">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/64818cdb-1bf3-4324-a5d5-1674a38571cd" width="360" height="447" alt="Editor Body" />
    </div>
  </div>
  <app-formatting-toolbar class="editor-formatting-bar"></app-formatting-toolbar>
  <div class="editor-actions">
    <button class="action-btn save"><img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/079033af-154f-421c-8ec8-bc05aa698ffd" alt="Save"></button>
    <button class="action-btn view"><img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8914339a-460c-47c4-9856-a70e92a603d4" alt="View"></button>
  </div>
  <!-- Popup Modal Area (used for Saving, Discard, etc) -->
  <app-saving-popup class="editor-popup"></app-saving-popup>
</div>
